body, html {
    font-family: 'Quicksand', sans-serif;
    color: #222222;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.screen {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.container h1 {
    font-family: 'Fredoka One', sans-serif;
    font-weight: 400;
    margin-bottom: 2rem;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: .7rem;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}

.grid {
    background-color: white;
    width: 35rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    border: .8px solid #cccccc;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.24) 1px 1px 5px;
    margin: 0;
    padding: 0;
}

.grid-row, .grid-col {
    display: flex; 
    flex: 1; 
    margin: 0; 
    padding: 0;
}

.grid-col {
    border: .1px solid #cccccc;
    border-radius: .5px;
}

button {
    padding: .5rem 1rem;
    border: .7px solid #222222;;
    box-shadow: rgba(0, 0, 0, 0.24) 1px 1px 2px;
    border-radius: .5rem;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    background-color: white;
    margin-top: 1rem;
    cursor: pointer;
    width: 9rem;
    transition: transform .3s;
}

button:enabled:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.24) 2px 2px 4px;
}



button.rainbow:enabled:hover {
    animation: rainbowBackground 6s ease infinite;
}

.clear {
    border-color: #DB0F27;
    color: #DB0F27;
}

.clear:disabled {
    color: #d0677397;
}

.color-picker {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    border: 4px solid white;
    outline: none;
    align-self: center;
    cursor: pointer;
    transition: transform 1s;
}

.color-picker:enabled:hover{
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.24) 2px 2px 4px;
    animation: rainbowBorder 6s ease infinite;
}

.color-picker::-webkit-color-swatch-wrapper {
    padding: 0; 
}

.color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

label {
    font-size: 14px;
    align-self: center;
}


.footer {
    display: flex;
    padding: 0px;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    background-color: rgba(142, 131, 107, 0.196);
    font-size: 13px;
    gap: 10px;
    font-family: 'Quicksand';
    height: 1.5rem;
}

.footer.p, .footer i {
    margin: 0;
}

.footer i {
    font-size: 18px;
}

a{
    color: #1C1C1C;
}

/* for the rainbow button */
@keyframes rainbowBackground {
    0% {
      background-color: rgba(255, 98, 98, 0.5);
    }
    20% {
      background-color: rgb(255, 239, 98, 0.5);
    }
    40% {
      background-color: rgb(124, 255, 98, 0.5);
    }
    60% {
      background-color: rgb(98, 255, 229, 0.5);
    }
    80% {
      background-color: rgb(98, 114, 255, 0.5);
    }
    100% {
      background-color: rgb(255, 98, 255, 0.5);
    }
  }

/* for the color picker */
  @keyframes rainbowBorder {
    0% {
        border: 4px solid rgba(255, 98, 98, 0.5);
    }
    20% {
        border: 4px solid rgb(255, 239, 98, 0.5);
    }
    40% {
        border: 4px solid rgb(124, 255, 98, 0.5);
    }
    60% {
        border: 4px solid rgb(98, 255, 229, 0.5);
    }
    80% {
        border: 4px solid rgb(98, 114, 255, 0.5);
    }
    100% {
        border: 4px solid rgb(255, 98, 255, 0.5);
    }
  }

 