body, html {
    height: 100%;
    font-family: 'Quicksand', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1 {
    font-family: 'Fredoka One', sans-serif;
    font-weight: 400;
    margin-bottom: 1.4rem;
}

.grid {
    background-color: white;
    width: 35rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    border: .8px solid #cccccc;
    border-radius: 2px;
    margin: 0;
    padding: 0;
}

.grid-row, .grid-col {
    display: flex; 
    flex: 1; 
    margin: 0; 
    padding: 0;
}

.grid-col {
    border: .2px solid #cccccc;
    border-radius: .5px;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .7rem;
    flex-wrap: wrap;
}

button {
    padding: .5rem 1rem;
    border: .7px solid black;
    border-radius: .5rem;
    font-family: 'Quicksand', sans-serif;
    background-color: white;
    margin-top: 1rem;
    cursor: pointer;
}

.clear {
    border-color: #FE6862;
    color: #FE6862
}

.color-picker {
    width: 1.5rem;
    align-self: center;
}
